@import "tailwindcss";
@plugin "daisyui";

@layer base {
  button {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
}

body {
  background-color: rgb(166, 195, 220);
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: black;
}
